<div class="mainContainer">
  <div class="cardBlue">
    <h6>Product</h6>

    <div class="productsection">
      <select id="ProductValue">
        <option value="GMC">GMC</option>
        <option value="GPA">GPA</option>
        <option value="GTl">GTL</option>
      </select>
    </div>
  </div>
  <div class="secondGrid">
    <ul>
      <li>
        <img src="/assets/images/logo.png" alt="logo" style="height: 50px; width:50px;"/>
      </li>
      <li><h2>Welcome to Carbon Tech🎉</h2></li>
    </ul>
  </div>

  <div class="dropdownProduct">
    <select id="product_Section">
      <option value="Employee">Employee</option>
      <option value="Parental">Parental</option>
      <option value="Supertop-up">Supertop-up</option>
    </select>
  </div>
</div>
