 .mainContainer{
    
   
    

position: absolute;
left: 398px;
top: 32px;
display: grid;
    grid-template-columns: 110px 1fr;
    grid-gap: 16px;

}
.containerhead{
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cardBlue{
    background: #37AFD4;
border-radius: 15px;
width: 78px;
height: 19px;
left: 416px;
top: 23px;




}
h6{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;
margin:  2px 15px 2px 16px;
}

.productsection{
width: 114px;
height: 75px;
left: 398px;
top: 32px;
margin-top:-1.2rem;

background: #EFFFFD;
border-radius: 15px;

}
#ProductValue{
    width: 84px;
height: 30px;

margin:  22px 35px  33px 18px;
background: #EFFFFD;
border:none;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #000000;

}


.secondGrid{
    width: 543px;
height: 75px;
left: 528px;
top: 32px;

background: #EFFFFD;
border-radius: 15px;

}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    
}
img{
    padding-top: 10px;
    padding-left:5px ;
}
h2{
    left: 603.16px;
top: 54px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
margin : 22px 131px 32px 20px;

}
.dropdownProduct{
    background: #EFFFFD;
border-radius: 10px;
width: 114px;
height: 30px;

}

#product_Section{
    background: #EFFFFD;
    border:none;
    margin: 6px 24px 6px 18px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;

color: rgba(0, 0, 0, 0.5);


}
