<div class="container">
  <div id="item-0">

    <div class="card1Content">
      
       
    </div>
    <h6>Total Active Lives </h6>
    <h3>11,500</h3>
    <div>
      <div>
        <h6>Renewal date - 01/01/2023</h6>
        <h6>View Insured List</h6>
      </div>
    </div>




  </div>
  <!-- card2 start here -->
  <div id="item-1">

    <p>CD Account Balance</p>
    <p>10,00,00</p>
    <div>As on 21st December</div>
    <P>View CD Ledger</P>


  </div>


  <!-- card3 start here -->

  <div id="item-2">

    <div class="card2Content">
      <p>CD Account Balance</p>
      <p>10,00,00</p>
      <div>As on 21st December</div>
      <P>View CD Ledger</P>
      <p>Contact SPOC to know exact premium</p>

    </div>


  </div>
  <!-- card 4 Start Here -->
  <div id="item-3">


    <div class="cardHeader">
      <h6>Claims Status</h6>
      <h6>Download Claim Register</h6>
    </div>
    <div class="cardCircle">
      <div style="background: #effffd">
        <h1>2</h1>
      </div>
      <div style="background: #00ffab">
        <h1>4</h1>
      </div>
      <div style="background: #adce74">
        <h1>47</h1>
      </div>
      <div style="background: #ff8585">
        <h1>4</h1>
      </div>
    </div>

    <div class="cardText">
      <div>
        <h5>Claim Intimation</h5>
      </div>
      <div>
        <h5>Claims In-Process</h5>
      </div>
      <div>
        <h5>Claim Settled</h5>
      </div>
      <div>
        <h5>Claims Rejected</h5>
      </div>
    </div>
  </div>
  <div id="item-4">
    Search E-card <br />
    <input class="employeeSearch" type="text"/>
    <div class="cardLeft">
    
      <p style="font-size: 12px; color: grey; ">*enter Employee ID to get Correct Information <br>
      Get E-Card</p>
      <div>
        <img src="/assets/images/search.gif" alt="" height="100" width="100" style=" margin-right: 40px; margin-top: -5px;"/>
      
      </div>
    
       
    </div>
    

  </div>
  <div id="item-5">
    <div id="additionalBorder">
      <div class="cardRight">
        <P class="cardRightContent">Email-crm@investacc.com <br>
        Email-crm@investacc.com<br>
        Call- 7620054541<br>
        Call- 7620054541
        </P>
        <div>
          <img src="/assets/images/support.gif" alt="" height="88" width="88" style=" margin-right: 30px; margin-top: 12px;">
        </div>
      </div>
      
    </div>

  </div>












  <div id="item-6">

    <h1 style="font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding:10px;
    color: #000000;
    ">Wellness</h1>
    <div class="card6">
     

    <div> <img src="/assets/images/medicine.svg" alt="" width="40px" height="40px"> <figcaption><h3>Pharmacy</h3></figcaption> </div>
      <div> <img src="/assets/images/ambulance.svg" alt="" width="40px" height="40px"> <figcaption><h3>Ambulance</h3></figcaption></div>
      <div> <img src="/assets/images/emergency-call.svg" alt="" width="40px" height="40px"><figcaption><h3>Doctor on <br> a call</h3></figcaption> </div>
      <div> <img src="/assets/images/ambulance.svg" alt="" width="40px" height="40px"> <figcaption><h3>Home <br>
        Health Care</h3></figcaption></div>
      <div> <img src="/assets/images/medical-document.svg" alt="" width="40px" height="40px"> <figcaption><h3>Health Records</h3></figcaption></div>
      <div> <img src="/assets/images/boys-running-on-health-day.png" alt="" width="200px" height="200px"> </div>
    </div>
      <div class="cardSixContent">
        <div><h3>Pharmacy</h3></div>
        <div><h3>Ambulance</h3></div>
        <div><h3>Doctor on <br> a call</h3></div>
        <div><h3>Home <br>
          Health Care</h3></div>
        <div><h3>Health Records</h3></div>
      </div>












  </div>

</div>