.sideBar {
  position: absolute;
  width: 339px;
  height: 960px;
  left: 21px;
  top: 23px;

  background: #37afd4;
  border-radius: 12px;
}
div > ul > li {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 36px;


  display: flex;
  align-items: center;
  align-self: center;
  

  padding: 19px;

  color: #ffffff;
}
img{
  color: #FFFFFF;


}
@media only screen and (max-width: 600px) {
  /* CSS rules for screens that are 600 pixels wide or less go here */
  .sidebar{
    
    width: 535px;
    height: 764px;
    left: 21px;
    top: 23px;
  
  }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* CSS rules for screens that are between 600 and 900 pixels wide go here */
}

@media only screen and (min-width: 900px) {
  /* CSS rules for screens that are wider than 900 pixels go here */
}