
<div class="sideBar">
  <ul>
      <li> Logo </li>
      <li> <img src="/assets/images/gridview.png" alt="" height="22.5px" width="22.5px">
        Overview</li>
      <li> <img src="/assets/images/insertchart.png" alt="" height="22.5px" width="22.5px">
        Dashboard</li>
      <li><img src="/assets/images/diversity.png" alt="" height="22.5px" width="22.5px">
        Employee</li>
      <li><img src="/assets/images/editnote.png" alt="" height="22.5px" width="22.5px">
        Endorsement</li>
      <li><img src="/assets/images/wallet.png" alt="" height="22.5px" width="22.5px">
        CD Account</li>
      <li><img src="/assets/images/policy.png" alt="" height="22.5px" width="22.5px">
        Claims</li>
      <li><img src="/assets/images/localhospital.png" alt="" height="22.5px" width="22.5px">
        Hospital List</li>
      <li><img src="/assets/images/summary.png" alt="" height="22.5px" width="22.5px">
        Reports</li>
      <li><img src="/assets/images/chatbubble.png" alt="" height="22.5px" width="22.5px">
        Feedback</li>
      <li><img src="/assets/images/logout.png" alt="" height="22.5px" width="22.5px">
        Logout</li>
  </ul>
</div>
<app-header> </app-header>
<app-overview></app-overview>
<app-rightsidebar>

</app-rightsidebar>
