.gridcontainer{
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-column-gap: px;
grid-row-gap: 0px;
position: absolute;
left: 1101px;
top: 32px;
}
.UserDetail{
    display: flex;
flex-direction: row;
justify-content: space-between;
}
#notification{
    width: 62px;
height: 75px;
left: 1101px;
top: 32px;

background: #EFFFFD;
border-radius: 15px;

}
#bellicon{
    margin :10px 10px 10px 10px;

    color: red;
}
.imageholder{
    height: 195px;
    width: 295px;
    background: #f5f5f5;
    position: absolute;
    top: 158px;
    border: 1px solid red;




}
.verna{
    border-radius: 12px;
   position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image_verna{
    border-radius: 13px;
}

.linkholder{
    position: absolute;
width: 295px;
height: 598px;

top: 385px;

background: #F5F5F5;
border: 1px solid red;
border-radius: 15px;
}

.LinkContent{
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding-top :16px;
    padding-left: 37px;
    padding-right: 44px;
    

}
.experience_card{
    width: 239px;
    height: 174px;

background: #FBF8F1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
.FAQContent{
 
  border-bottom: 1px solid;
 

margin-top: 8px;
padding:10px;
margin-left: 0px;
 
}

h6{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #161D6F;
}
#downloadsection{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;


width: 214px;
height: 30px;

  }


  /* start from  emoji sticke */

  .experience_card{
    
    color:"#FBF8F1";
    margin-top: 25px;
    padding: 17px;
   

  }
#grievance_content>{
    

    margin-left: 0px;
    margin-top:16px;
   
   
}
p{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 3px;

}
.experienceEmoji{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self :center;



}