<div class="gridcontainer">
  <div class="UserDetail">
    <div id="notification">
      <img  id="bellicon" src="/assets/images/notification.svg" alt="" />
    </div>
    <div>
      <img  src="/assets/images/profile.gif" alt="" height="75" width="75" />
    </div>
    <div><h1>Mohd Arkam</h1></div>
  </div>

  <div class="imageholder">
    <div class="verna">
      <img
        id="image_verna"
        src="assets/images/Verna.jpg"
        alt=""
        height="111"
        width="222"
      />
      <p style="color: rgba(0, 0, 0, 0.5)">For Exciting offers visit at</p>
      <p style="color: #161d6f">Gili.co.in</p>
    </div>
  </div>

  <div class="linkholder">
    <div class="LinkContent">
      <div id="downloadsection">Quick Downloads</div>
      <div class="FAQContent"><h6>Claim Form</h6></div>
      <div class="FAQContent"><h6>Document Checklist</h6></div>
      <div class="FAQContent"><h6>Product Benefits</h6></div>
      <div class="FAQContent"><h6>Cashless Process</h6></div>
      <div class="FAQContent"><h6>Reimbursement Process</h6></div>
      <div class="FAQContent"><h6>Claim Form Instruction</h6></div>
      <div class="FAQContent"><h6>Blacklisted Hospital</h6></div>

      <div class="experience_card">
        <div id="grievance_content">
          <p>Raise Greivance</p>
          <p>Schedule a call</p>
          <p>Rate us your experience</p>
        </div>
        <div class="experienceEmoji">
          <div  style="border-bottom:5px solid #FA0808 ;">
            <img src="assets/images/emoji_tensed.png" height="25" width="25" />
          </div>
          <div width="50" style="border-bottom:5px solid #FF9F29 ;">
            <img src="assets/images/emoji_bad.png" height="25" width="25" />
          </div>
          <div width="50" style="border-bottom:5px solid #3CCF4E ;">
            <img src="assets/images/emoji_hearts.png" height="25" width="25" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
